mixin sightItem() 
        .sight-item 
          .sight-image  
            img.sight-img(src="https://picsum.photos/400/300", alt="")
            span.sight-price From $40
          .sight-content 
            h3.sight-title Bridge on the River Kwai and Thailands Burma Railway Tour ddddddddddddddddddddddddddddddd  
            .sight-rating
              .sight-review
                img.sight-star-icon(src="./assets/img/star-icon.png", alt="")
                span.sight-review-count 4.8 (12 reviews)
              span.sight-duration Duration: 9 hours
            a.sight-price-button(href="http://facebook.com")  Tours Price $61  



